* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  height: 100vh;
  margin-top: 50px;

  background: linear-gradient(to right, blue, green, yellow, red);
  overflow: hidden;
  margin: 0 200px;
  margin-top: 50px;
}
.container {
  text-align: center;
  justify-content: center;
  background: white;
  height: 90vh;
}

.section {
  display: flex;
  margin: 100px;
  justify-content: space-evenly;
}
h1 {
  text-decoration: underline;
  padding: 50px;
  font-size: 50px;
}

h3 {
  padding: 10px;
  margin: 10px;
  font-size: x-large;

  color: black;
}

li {
  font-size: large;
}
.domain {
  box-sizing: border-box;
  border-style: 2px solid white;
  background: linear-gradient(to right, blue, green, yellow, red);
}
